.idea/*
.DS_Store
*.pyc
.vscode/*
_*/
build/*
*.egg-info
pip-wheel-metadata
**/.ipynb_checkpoints/*
dist/*
**/mlruns/*
*.zip
cfcreator/apis/logs/*
cfcreator/apis/models/*.ckpt
cfcreator/apis/tokens/*.pt
cfcreator/apis/kafka/logs/*
